# Address of the deployed DrugInventory contract (Sepolia or local Hardhat node)
VITE_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
# Block the contract was deployed at. Bounds event queries so they don't scan from genesis.
VITE_DEPLOY_BLOCK=0
